<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <form name="userForm">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" ng-model="name"/> <button ng-click=getDetails(name)>Get details</button>
                <button ng-click=deleteHero(name)>Delete hero</button><br />
            </div>
        </form>
    </div>

    <div ng-show="isShown">
        <pre>Name = "{{hero.name}}"</pre>
        <pre>Pseudonym = "{{hero.pseudonym}}"</pre>
        <pre>Publisher = "{{hero.publisher}}"</pre>
        <pre>Skills:</pre>
        <ul>
            <li ng-repeat="item in hero.skills">
                {{item}}
            </li>
        </ul>

        <pre>Allies:</pre>
        <ul>
            <li ng-repeat="itemA in hero.allies">
                {{itemA}}
            </li>
        </ul>
        <pre>Date = "{{hero.appearance}}"</pre>

    </div>

    <div ng-show="isShown">
        <pre>Json returned:</pre>
        <tt ng-bind="hero | json"></tt>
    </div>
    <div>
        <a class="button" ng-href="#/">Home</a></a>
    </div>


</div>